{% extends "base.bs4" %}

{% block content %}
   
        
            <div class="container text-center">
               <h3>An open source, raspberry pi based soundplayer. </h3>
              <p class="lead">Made for fun and happiness.</p>
            </div>
            <div>
                <a href="/collection" class="btn btn-primary btn-lg btn-block">Manage Collections</a>
                <a href="/song" class="btn btn-success btn-lg btn-block">Manage Songs</a>
                <a href="/playlist" class="btn btn-warning btn-lg btn-block">Manage Playlists</a>
            </div>
        
      
{% end %}