{% extends "base.bs4" %}

{% block content %}
   
        
            <div class="container text-center">
               <h3>An open source, raspberry pi based soundplayer. </h3>
              <p class="lead">Made for fun and happiness.</p>
            </div>
            <div>
                
                <a href="/collection" class="btn btn-primary btn-lg btn-block">
                    <span class="oi oi-grid-three-up" title="icon name" aria-hidden="true"></span>
                    Manage Collections</a>
                <a href="/song" class="btn btn-warning btn-lg btn-block">
                    <span class="oi oi-audio" title="icon name" aria-hidden="true"></span>
                    Manage Songs</a>
                <a href="/playlist" class="btn btn-secondary btn-lg btn-block disabled" >
                    <span class="oi oi-list" title="icon name" aria-hidden="true"></span>
                    Manage Playlists</a>
                <a href="/sync" class="btn btn-success btn-lg btn-block">
                    <span class="oi oi-reload" title="icon name" aria-hidden="true"></span>
                    Sync
                </a>
            </div>
        
      
{% end %}